<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #007BFF;
            color: #fff;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        form {
            max-width: 300px;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        label {
            display: block;
            margin-bottom: 8px;
            color: #333;
        }

        input,
        select,
        button {
            width: 100%;
            padding: 10px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border: 1px solid #ccc;
            border-radius: 3px;
            outline: none;
        }

        button {
            background-color: #007BFF;
            color: #fff;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }

        p {
            margin-top: 20px;
        }

        a {
            color: #007BFF;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        /* Additional style for radio buttons */
        div {
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;
        }

        div label {
            flex: 1;
            text-align: left;
            margin-right: 10px;
        }

        h3 {
            color: red;
        }
    </style>
</head>

<body>

    <header>
        <h1>Register To Twitter</h1>
    </header>

    <form action="/signup_success" method="post">
        <h3>
            <%= msg %>
        </h3>

        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>

        <label for="fname">First Name:</label>
        <input type="text" id="fname" name="fname" required>

        <label for="mname">Middle Name:</label>
        <input type="text" id="mname" name="mname">

        <label for="lname">Last Name:</label>
        <input type="text" id="lname" name="lname" required>

        <label for="emailMobile">Email or Mobile:</label>
        <input type="text" id="emailMobile" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <label for="cpass">Confirm Password:</label>
        <input type="password" id="cpass" name="cpass" required>

        <label for="dob">Date of Birth:</label>
        <input type="date" id="dob" name="dob" required>

        <label name="gender">Gender:</label>
        <div>
            <label for="male">
                <input type="radio" id="male" name="gender" value="0" required> Male
            </label>
            <label for="female">
                <input type="radio" id="female" name="gender" value="1" required> Female
            </label>
            <label for="dnd">
                <input type="radio" id="dnd" name="gender" value="2" required> Don't want to disclose
            </label>
        </div>

        <button type="submit">Register</button>
    </form>

    <p>Already have an account? <a href="/">Login here</a></p>

</body>

</html>